SMInterface/Connected Services/PMService/TicketSystemService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57854/TicketSystemService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DBService" />
  <xs:element name="createTicket">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="createTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createTicketResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="connectAsUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="connectAsUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DBService" minOccurs="0" name="connectAsUserResult" nillable="true" type="q1:DUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketId" type="xs:int" />
        <xs:element minOccurs="0" name="editTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="editDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="editState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editTicketResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>