SMInterface/Connected Services/PMService/TicketSystemService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DBService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DBService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="projectsMember" nillable="true" type="tns:ArrayOfDProject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DUser" nillable="true" type="tns:DUser" />
  <xs:complexType name="ArrayOfDProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DProject" nillable="true" type="tns:DProject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDProject" nillable="true" type="tns:ArrayOfDProject" />
  <xs:complexType name="DProject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tickets" nillable="true" type="tns:ArrayOfDTicket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DProject" nillable="true" type="tns:DProject" />
  <xs:complexType name="ArrayOfDTicket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTicket" nillable="true" type="tns:DTicket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTicket" nillable="true" type="tns:ArrayOfDTicket" />
  <xs:complexType name="DTicket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Descritpion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTicket" nillable="true" type="tns:DTicket" />
</xs:schema>