SMInterface/Connected Services/PMService/TicketSystemService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TicketSystemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57854/TicketSystemService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57854/TicketSystemService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57854/TicketSystemService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DBService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITicketSystemService_createTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:createTicket" />
  </wsdl:message>
  <wsdl:message name="ITicketSystemService_createTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:createTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketSystemService_connectAsUser_InputMessage">
    <wsdl:part name="parameters" element="tns:connectAsUser" />
  </wsdl:message>
  <wsdl:message name="ITicketSystemService_connectAsUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:connectAsUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketSystemService_editTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:editTicket" />
  </wsdl:message>
  <wsdl:message name="ITicketSystemService_editTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:editTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="ITicketSystemService">
    <wsdl:operation name="createTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketSystemService/createTicket" message="tns:ITicketSystemService_createTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketSystemService/createTicketResponse" message="tns:ITicketSystemService_createTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="connectAsUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketSystemService/connectAsUser" message="tns:ITicketSystemService_connectAsUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketSystemService/connectAsUserResponse" message="tns:ITicketSystemService_connectAsUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketSystemService/editTicket" message="tns:ITicketSystemService_editTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketSystemService/editTicketResponse" message="tns:ITicketSystemService_editTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITicketSystemService" type="tns:ITicketSystemService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createTicket">
      <soap:operation soapAction="http://tempuri.org/ITicketSystemService/createTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="connectAsUser">
      <soap:operation soapAction="http://tempuri.org/ITicketSystemService/connectAsUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editTicket">
      <soap:operation soapAction="http://tempuri.org/ITicketSystemService/editTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TicketSystemService">
    <wsdl:port name="BasicHttpBinding_ITicketSystemService" binding="tns:BasicHttpBinding_ITicketSystemService">
      <soap:address location="http://localhost:57854/TicketSystemService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>